<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {% if title %}
    <title>Todo Loco - {{ title }}</title>
    {% else %}
      <title>Todo Loco</title>
    {% endif %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"/>
  </head>
  <body>

    <div class ="top-container">
      <div>
        <a href="{{ url_for('todos') }}"><h3 class ="left-button">Todos</h3></a>
      </div>
      <div>
        <a href="{{ url_for('home') }}"><h1 id="logo">todo loco</h1></a>
      </div>
      <div>
        <a href="{{ url_for('about') }}"><h3 class="right-button">About</h3></a>
      </div>
    </div>

    <div class="mid-container">
      <h1>Welcome to Todo Loco.</h1>
      <p>Click the "Todos" button or the icon below to get started.</p>
      <a href="{{ url_for('todos') }}"><img class="map-icon" src="https://cdn.icon-icons.com/icons2/426/PNG/512/Map_1135px_1195280_42272.png" alt="map-icon"></a>
    </div>

    <div class="bot-container">
      <p class="copyright">© 2021 CSPB 3308 Team 2</p>
      <a class="btn" href="mailto:dypo7836@colorado.edu">Contact us</a>
    </div>

  </body>
</html>
