nav {
    border-bottom: 1px solid black;
}

.menu ul {
    list-style-type: none;
    padding-left: 0;
    
    font-size: 80%;
    font-weight: bold;
    color: #000;
}

.menu li {
    display: inline-block;
    padding: 0 3px;
  }

  #map {
    height: 100%;
  }

  .ui.modal.active {
    height: 70%;
  }
  
  .ui.modal>.content {
    height: 100%;
  }
  /* Optional: Makes the sample page fill the window. */
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }